
.barra-lateral{
    display: flex;
    flex-direction: column;
    background-color: #912424;
    align-items: center;
    color: #fff;
    width: 17%;
    height: 77vh;
}

.barra-lateral__links li{ 
    list-style: none;
}

.barra-lateral__links a {
    text-decoration: none;
    position: relative;
    display: block;
    line-height: 2;
    padding: 15px 10px;
    color: #fff;
}

.barra-lateral__links a:focus, .barra-lateral__links a:hover{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 0 5px #ac1a1a; 
    border-radius: 10px;
    transform: skew(-10deg);
}

