.footer{
    width: 100%;
    height: 10vh;   
    position: relative;
    text-align: end;
    padding-right: 15px;
    padding-top: 10px;
    background-color: #912424;
    font-family: 'Imperial Script';
    font-size: 30px;
    color: #fff; 
}