
.header__logo{
    width: 100%;
    height: 13vh;
    background-color: #912424;
    color: #fff;
    position: relative;
    margin-top: auto;
    font-size: 75px;
    padding-left: 10px;
    font-weight: lighter;
    font-family: 'Imperial Script'
}