button{
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #efefef;
    border-radius: 7px;
    width: 200px;
    height: 50px;
}

.logout:hover , .logout:focus{
    color: #000000;
    background-color: #f1ee09;
    border: none;
}